:root{
    --bg-color: #262626;
    --fg-color: red;
    --bgdark-color: #202020;
}
html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    min-height: 90vh;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    min-height: 5rem;
    width: 100%;
    background-color: var(--bgdark-color);
}
img{
    width: 100%;
    height: auto;
    user-select: none;
}
a{
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}
a:hover{
    color: var(--fg-color);
    filter: drop-shadow(0px 0px 5px var(--fg-color));
}
:visited{
    color: white;
}
#homeindex{
    margin-right: 70%;
}
#home{
    margin-left: 2rem;
    margin-top: 0.2rem;
    width: 13rem;
}
#homeindex:hover,
#socials a:hover{
    filter: none;
}
.navlink:first-child{
    padding-right: 0.2rem;
}
.navlink{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
    font-size: 200%;
}
.noflex{
    display: inline-block;
}
#content{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
}
.section{
    height: 35vh;
    border-bottom: 1px solid #404040;
    padding: 5rem 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
}
#firstchild{
    margin-top: 5rem;
}
.text{
    width: 60%;
}
.img{
    width: 40%;
}

/*Profil, Video, Files*/
.person,
.video,
.file{
    margin-top: 2rem;
    border-bottom: 1px solid #404040;
    display: flex;
}
.profilepic{
    width: 30%;
    height: auto;
    border-radius: 80%;
    transition: all .2s ease-in-out;
}
.person #left,
.video #left,
.file #left{
    width: 30%;
    text-align: center;
}
.person #right,
.video #right,
.file #right{
    padding-top: 1rem;
}
a.person:hover,
a.video:hover,
.file a:hover{
    filter: none;
    color: white;
}
.out{
    display: block;
    height: 1rem;
    width: 20rem;
    border: 1px solid #404040;
    background-color: #303030;
}
.in{
    display: block;
    background-color: red;
    height: 1rem;
    transition: all .2s;
}
#warning{
    margin-top: 7rem;
    text-align: center;
    font-size: 200%;
    color: #6e6e6e;
    border: 1px solid #6e6e6e;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: .4rem;
    border-radius: 6px;
}
#warning a{
    color: #6e6e6e;
}
#warning a:hover{
    color: red;
}
#warningimg{
    height: 2rem;
    width: auto;
    padding-top: .2rem;
}

/*Erfahrung*/
.erfahrung{
    display: none;
}
.out{
    display: none;
}

/*Videos*/
a.video{
    max-height: min-content;
    padding: 0;
}
#left{
    padding: 2rem;
}
iframe{
    width: 560px;
    height: 315px;
}
#right{
    margin-top: 2rem;
    min-height: 15rem;
    width: 70%;
}
.title{
    font-size: 150%;
    text-decoration: underline;
}
.info{
    margin-top: 1rem;
    margin-left: 0.3rem;
}
#profiles{
    display: flex;
    width: 100%;
    margin-top: 7rem;
}
.profile{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #202020;
    transition: all .2s ease-in-out;
}
.profile img{
    border-radius: 50%;
}
#date{
    margin-top: 3rem;
    font-size: 80%;
    color: rgb(148, 148, 148);
}


/*Personen*/
#jan{
    background-color: white;
}
#jan:hover{
    filter: drop-shadow(0px 0px 10px white);
}
#vincent{
    background-color: rgb(166, 0, 166);
}
#vincent:hover{
    filter: drop-shadow(0px 0px 10px rgb(166, 0 , 166));
}
#niklas{
    background-color: rgb(138, 138, 0);
}
#niklas:hover{
    filter: drop-shadow(0px 0px 10px rgb(138, 138, 0));
}
#ilan{
    background-color: rgb(140, 0, 0);
}
#ilan:hover{
    filter: drop-shadow(0px 0px 10px rgb(140, 0, 0));
}
#luca{
    background-color: rgb(0, 0, 162);
}
#luca:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 162));
}

/*Account*/
.account{
    margin-top: 7rem;
    margin-bottom: 3rem;
}
/*Info-Section*/
#top{
    display: flex;
    margin-bottom: 3rem;
    border-bottom: 1px solid #404040;
    padding-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#profilbild{
    text-align: center;
    width: 35%;
    border-right: 1px solid #404040;
    margin-right: 5%;
}
.profilbild{
    width: 10rem;
    height: auto;
    border-radius: 70%;
    transition: all .2s ease-in-out;
}
.name{
    font-size: 120%;
    color: #a0a0a0;
}
#beschreibung{
    width: 60%;
    text-align: left;
    padding: 1rem;
}
/*Socials*/
#socials{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-bottom: 1px solid #404040;
}
#socials a{
    width: 5rem;
    height: auto;
    margin-right: 1rem;
    transition: all .2s ease-in-out;
}
#socials a:hover{
    transform: scale(1.1);
}
/*Dropdowns*/
#dropdown{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.button{
    height: 3rem;
    width: 10rem;
    font-size: 120%;
    font-weight: bold;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #404040;
    color: white;
    transition: all .3s;
}
.button:hover{
    background-color: #303030;
    filter: drop-shadow(0px 0px 5px white);
}
.active{
    display: block;
}
.notactive{
    display: none;
}
#videos,
#equipment{
    display: none;
}
#videos .video{
    max-height: max-content;
}
#videos .side #right{
    width: 100%;
}
/*Equipment*/
#openequip,
#closeequip,
#equipment{
    display: none;
    opacity: 0;
}

@media (max-width: 1500px) {
    #homeindex{
        margin-right: 60%;
    }
}
@media (max-width: 1215px) {
    #homeindex{
        margin-right: 50%;
    }
    .video{
        max-height: 15rem;
    }
}
@media (max-width: 1000px) {
    #header{
        height: 3rem;
    }
    #homeindex{
        margin-right: 40%;
    }
    #home{
        width: 7rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 2rem;
    }
    .navlink{
        font-size: 150%;
        margin-top: 1.5rem;
    }
    #content{
        display: block;
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #left{
        padding: 0;
    }
    iframe{
        transform: scale(0.8);
    }
    .video{
        display: block;
    }
    .video #left{
        width: 80%;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
    #videos .video #left{
        width: 100%;
    }
    .video #right{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .video{
        max-height: 31rem;
    }
}
@media (max-width: 800px) {
    #homeindex{
        margin-right: 30%;
    }
    #firstchild{
        margin-top: 1rem;
    }
    .section,
    .file{
        display: block;
        height: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .file #left{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .img{
        width: 100%;
    }
    #firstchild{
        margin-top: 5rem;
    }
    #warning{
        font-size: 150%;
    }
    .video{
        max-height: 30rem;
    }
    #videos .video #right{
        width: 100%;
    }
}
@media (max-width: 650px){
    #profilbild{
        padding-right: 0.5rem;
    }
    .video{
        max-height: 28rem;
    }
}
@media (max-width: 600px) {
    #homeindex{
        margin-right: 10%;
    }
    #content{
        margin-top: 5rem;
    }
    iframe{
        width: 100%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .person #right{
        margin-left: 2rem;
    }
    .person #left{
        display: none;
    }
    #warning{
        font-size: 120%;
    }
    #warningimg{
        width: 1.5rem;
        height: auto;
    }
    #top{
        display: block;
    }
    #profilbild{
        width: 100%;
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: 1px solid #404040;
    }
    #beschreibung{
        width: 100%;
        padding-left: 0;
    }
    #socials{
        margin-top: -1rem;
    }
    #videos a #left{
        padding: 0;
        width: 100%;
    }
    #videos #right{
        padding: 0;
        margin-left: 0;
        width: 100%;
        max-height: 5rem;
    }
    #videos a #right .info{
        margin-top: -1.5rem;
    }
    .video{
        max-height: 26rem;
    }
}
@media (max-width: 460px) {
    #warning{
        font-size: 100%;
    }
    #socials a{
        margin-right: 0.2rem;
    }
    .video{
        max-height: 24rem;
    }
}
@media (max-width: 400px) {
    #homeindex{
        margin-right: 10%;
    }
    iframe{
        width: 100%;
        height: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    .person #right{
        margin-left: 1rem;
    }
    .out{
        width: 19rem;
    }
    #warning{
        font-size: 90%;
    }
    #warningimg{
        width: 1rem;
        height: auto;
    }
    .video{
        max-height: 22rem;
    }
}